@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Poppins;
    /* font-family: Arial, Helvetica, sans-serif; */
    /* background-color:rgb(85, 85, 83); */
    flex-wrap: wrap;
}
.nav .ul {
    flex-wrap: wrap;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: 70px;
    /* position: fixed; */
}
.nav {
    background-color: white;  
    padding: 10px 20px;
    flex-wrap: wrap;
    border-bottom: 2px solid ;
   
}
.nav .ul img {
    margin-right: 40px;
}

.ul li{
    display: flex;
    
}
li a{
    font-size: 19px;
    text-decoration: none;
    
}
.nav .ul li a{
    text-transform: none;
    color: #1a1a1a;
    font-size: bold;
    margin-left: 50px;
    transition: color 0.3s ease;
}
.nav .ul li a:hover{
    color: chocolate;
}
.ul .g{
    margin-left: 12%;
}
.g button{
    padding: 10px 20px;
    font-size: 15px;
    background-color: white;
    color: black;
    
    border-radius: 10px;
    border-color: black;
    cursor: pointer;
    transition: color 0.3s ease;
}
.g button:hover{
    color: coral;
}
/* snd container */

.snd-contaier {
    padding-top: 50px; 
}


a {
    text-decoration: underline !important;
}
/* section */
.snd-container{
    background-color: rgb(248, 250, 253);
}
.snd-container h3{

    margin-top: 100px;
    padding: 10px 30px;
    margin-left: 5%;
    font-size: 30px;
    color: chocolate;
}
.snd-container h2{
    padding: 0 30px;
    margin-left: 5%;
    margin-right: 50%;
    font-size: 45px;
    color: #353434;
}
.snd-container p{
    margin-top: 50px;
    margin-left: 12%;
    padding: 9px;
    margin-right: 35%;
    font-size: 19px;
    color: #1a1a1a;
}
.snd-container button{
    margin-left: 7%;
    margin-top: 40px;
    padding: 9px;
    border-radius: 4px;
    background-color: chocolate;
    color: white;
    cursor: pointer;
}
.snd-container-child .child-1{
    margin-top: 5%;
    font-size: 25px;
}
.snd-container-child .child-2{
    font-size: 19px;
    margin-right: 40%;
    margin-left: 88px;
}
.trd-container{
    background-color:black;
    margin-top: 15%;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 25px;
}

.trd-container .trd{
    text-align: center;
    justify-content: center;
    justify-content: space-between;
    color: white;
    font-size: 45px;
    font-style: bold;
    padding: 10px;
    
}
.trd-container .trd-1{
    text-align: center;
    justify-content: center;
    justify-content: space-between;
    color: white;
    font-weight: 150;
    
}
.heroo{
    margin-top: 5%;
    display: flex;
    border-radius: 5px;
    color: #fff;
    gap: 2rem;
    text-align: center;
    justify-content: center;
    justify-content: space-between;
    /* margin-bottom: 5%; */
    padding-bottom: 80px;
}
.new-div{
    margin-top: 4%;
    text-align: right;
    margin-right: 12%;
}
.new-div .div-li{
    margin: 1% 0% 0% 55%;
    font-size: 15px;
}
.new-div .div-1{
    font-size: 40px;
    color: #353434;
}
.chota{
    background-color:black;
    margin-top: 20%;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 25px;
    /* padding-bottom: 15%; */
    padding: 5%;
}
.chota .chota-1{
    /* background-color:#353434; */
    font-size: 45px;
    color: white;
}
.chota .chota-2{
    color: white;
    /* font-size: 20px; */
    margin: 5% 50% 0% 5%;
}
/* new */
.center{
    margin-top: 7%;
    display: flex;
    background-color: #353434;
    border-radius: 25px;
}
.center .side-bar{
    max-width: 1000px;
    text-align: center;
    padding: 30px;
    font-size: 30px;
    color: #fff;

}
.center .right-bar{
    padding: 50px 15px 5px 10px;
    font-size: 15px;
    color: #fff;
}
/* nn */
.dabba{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    box-sizing: border-box;
    margin: 5% 10% 4% 10%;
    border-radius: 25px;
    gap: 22px;
}
.dabba-in{
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 20px;
}
.dabba .dabba-in h5{
    font-size: 25px;
    color: chocolate;
    margin: 1%;
}
.dabba .dabba-in p{
    justify-content: space-between;
    margin: 1%;
}

/* mm */
.Latest{
    margin-top: 7%;
    text-align: center;
    font-size: 20px;
    color: #353434;
}

/* mn */
.pic{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    box-sizing: border-box;
    margin: 5% 10% 4% 10%;
    border-radius: 25px;
    gap: 22px;
}
.pic .pic-3 img {
    width: 100%;
    border-radius: 25px;
    transition: transform 0.4s ease, filter 0.4s ease;

}
.pic-3 img:hover {
  transform: scale(1.1);     /* zoom in */
  filter: brightness(0.8);   /* thoda dark */
}

.pic .pic-3 h4{
    font-size: 20px;
}
/* mn */

.coustomer{
    background-color: rgb(159, 142, 145);
    box-sizing: border-box;

}
.coustomer-h2{
    font-size: 45px;
    color: rgb(30, 29, 29);
    margin: 8% 5% 2% 10%;
}
.coustomer-ul li{
    font-size: 15px;
    color: rgb(30, 29, 29);
    margin: 1% 0% 1% 10%;
    /* margin-right: 18px; */
}
/* mn  */
.Subscribe{
    background-color: chocolate;   /* background color */
    color: #fff;                   /* text color white */
    padding: 20px;
    border-radius: 8px;
    margin: 20px auto;
    max-width: 400px;              /* center block with fixed width */
}

.Subscribe h2 {
  margin: 0 0 10px;
}

.Subscribe input {
  margin: 0;
  font-size: 1.1rem; 
  font-weight: bold;
}
.Subscribe button{
    margin-left: 2%;
    font-weight: bold;
    font-size: 1rem;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #353434;
    color: #fff;
    cursor: pointer;
}
/* mn */
footer{
    background-color: #353434;
    gap: 2rem;
}
.footer1{
    display: flex;
}
.fff{
    /* display: flex; */
    margin: 3% 5% 1% 1%;
}

.footer2 img{
    width: 10%;
    margin: 5% 0 0 7%;
    color: #fff;
}
.footer2 p{
    margin: 1% 40% 0 8%;
    color: #fff;
}

